@font-face {
  font-family: "Gilroy-Black";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

._title {
  font-family: Gilroy-Bold;
  font-size: calc(34px + 2 * ((100vw - 320px) / 1600));
  text-align: center;
  line-height: 46px;
  color: #333333;
}

.information-news-body {
  padding: 25px 22px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.information-news-body__image {
  padding: 0px 0px 15px 0px;
}

.information-news-body__date {
  font-family: Gilroy-Regular;
  font-size: calc(14px + 0 * ((100vw - 320px) / 1600));
  line-height: 17px;
  color: #ababab;
  padding: 0px 0px 10px 0px;
}

.information-news-body__title {
  font-family: Gilroy-Bold;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  line-height: 24px;
  max-width: 215px;
  color: #333333;
  padding: 0px 0px 10px 0px;
}

.information-news-body__decription {
  font-family: Gilroy-Medium;
  font-size: calc(15px + 1 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #333333;
  max-width: 215px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slider-quality__pagging {
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.slider-quality__pagging span {
  background-color: #ffffff;
  border: 2px solid #84aaed;
  margin: 0px 3px;
  padding: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #acacac;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.warranty {
  background-color: #e8e8e8;
  padding: 0px 0px 40px 0px;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.warranty._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.warranty__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-content: center;
  text-align: center;
}

.warranty__columns {
  padding: 40px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.warranty-body__image {
  padding: 0px 0px 15px 0px;
}

.warranty-body__title {
  font-family: Gilroy-Bold;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  max-width: 220px;
  margin: 0px auto;
  padding: 0px 0px 10px 0px;
}

.warranty-body__decription {
  font-family: Gilroy-Medium;
  font-size: 17px;
  line-height: 25px;
  max-width: 209px;
  margin: 0px auto;
  color: #333333;
}

.header {
  padding: 30px 0px 20px 0px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
}

.header__row {
  position: relative;
}

.header__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-top {
  padding: 0px 0px 40px 0px;
}

.header-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__icons {
  position: relative;
  z-index: 2;
}

.header-top__icons--w {
  padding: 0px 18px 0px 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-top__icons-v {
  padding: 0px 18px 0px 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-top__icons--tg {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-top__btn {
  display: inline-block;
  padding: 12px 15px;
  width: 195px;
  height: 44px;
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  position: relative;
  z-index: 0;
  min-width: 195px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
}

.header-top__btn:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 100%;
  left: 50%;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
}

.header-top__btn span {
  position: relative;
  z-index: 2;
}

.header-top__btn:hover:after {
  left: 0;
  width: 100%;
}

.header-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-content__logo {
  padding: 0px 10px 0px 0px;
  position: relative;
  z-index: 6;
}

.header-top-content__vertLine {
  height: 40px;
  border: 1px solid #89afef;
}

.header-top-content__description {
  padding: 0px 0px 0px 10px;
  max-width: 190px;
}

.header-top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header-top-contact__columns {
  padding: 0px 0px 0px 30px;
}

.header-top-contact__call > a {
  text-decoration: none;
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.header-top-contact__call > a:before {
  content: " ";
  background: url("../img/header/top/tel.svg") left no-repeat;
  padding: 0px 25px 0px 0px;
}

.header-top-contact__mail {
  text-align: right;
  padding: 5px 0px 0px 0px;
}

.header-top-contact__mail > a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}

.header-top-contact__mail > a:before {
  content: " ";
  background: url("../img/header/top/mail.svg") left no-repeat;
  padding: 0px 25px 0px 0px;
}

.header-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  font-size: calc(40px + -14 * ((100vw - 320px) / 1600));
}

.header-bottom__list li {
  list-style: none;
}

.header-bottom__link {
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
}

.header-bottom__link span {
  position: relative;
  display: block;
  line-height: 28px;
}

.header-bottom__link span:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #000;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-bottom__link:hover {
  color: #f6bd60;
}

.header-bottom__link:hover span:after {
  left: 0;
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #565656;
  padding: 55px 0px 0px 0px;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__linear {
  border: 1px solid #4e4e4e;
}

.footer__rights {
  text-align: center;
  padding: 20px 0px;
}

.footer-body {
  max-width: 359px;
}

.footer-body__title {
  font-family: Gilroy-Bold;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1600));
  line-height: 27px;
  color: #ffffff;
  padding: 0px 0px 25px 0px;
}

.footer-body__list {
  padding: 0px 0px 40px 0px;
}

.footer-body__list li {
  padding: 0px 0px 15px 0px;
}

.footer-body__link {
  font-family: Gilroy-Regular;
  font-size: calc(14px + 0 * ((100vw - 320px) / 1600));
  line-height: 18px;
  color: #ffffff;
}

.footer-body-write__title {
  font-family: Gilroy-Bold;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1600));
  line-height: 27px;
  color: #ffffff;
}

.footer-body-write__list li {
  padding: 0px 0px 20px 0px;
}

.footer-body-write__list li:hover {
  text-decoration: underline;
}

.footer-body-write__list li:nth-child(3) {
  padding: 0px 0px 35px 0px;
}

.footer-body-write__list li:nth-child(5) {
  padding: 0px 0px 50px 0px;
}

.footer-body-write__list li:nth-child(6) {
  padding: 0px 0px 50px 0px;
}

.footer-body-write__list li:nth-child(1)::before {
  content: " ";
  background: url("../img/footer/1.svg") left no-repeat;
  padding: 0px 35px 0px 0px;
}

.footer-body-write__list li:nth-child(2)::before {
  content: " ";
  background: url("../img/footer/2.svg") left no-repeat;
  padding: 10px 35px 10px 0px;
}

.footer-body-write__list li:nth-child(3)::before {
  content: " ";
  background: url("../img/footer/3.svg") left no-repeat;
  padding: 10px 35px 10px 0px;
}

.footer-body-write__list li:nth-child(4)::before {
  content: " ";
  background: url("../img/footer/4.svg") left no-repeat;
  padding: 10px 35px 10px 0px;
}

.footer-body-write__list li:nth-child(5)::before {
  content: " ";
  background: url("../img/footer/5.svg") left no-repeat;
  padding: 10px 35px 10px 0px;
}

.footer-body-write__link {
  font-family: Gilroy-Medium;
  font-size: calc(15px + 2 * ((100vw - 320px) / 1600));
  line-height: 21px;
  color: #ffffff;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.order {
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(29%, rgba(255, 255, 255, 0.945816)), color-stop(76%, rgba(179, 201, 255, 0.962623)), to(#b3c9ff));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.945816) 29%, rgba(179, 201, 255, 0.962623) 76%, #b3c9ff 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.945816) 29%, rgba(179, 201, 255, 0.962623) 76%, #b3c9ff 100%);
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.order-left__title {
  font-family: Gilroy-Black;
  line-height: 51px;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  color: #333333;
}

.order-left__description {
  font-family: Gilroy-Medium;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  line-height: 28px;
  padding: 30px 0px;
  color: #333333;
}

.order-left__description span {
  font-family: Gilroy-Black;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  line-height: 31px;
  color: #333333;
}

.order-left__btn {
  display: inline-block;
  font-family: Gilroy-Bold;
  padding: 18px 15px;
  height: 50px;
  overflow: hidden;
  background-color: #007397;
  color: #ffffff;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  min-width: 200px;
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
}

.order-left__btn:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 100%;
  left: 50%;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
}

.order-left__btn span {
  position: relative;
  z-index: 2;
}

.order-left__btn:hover:after {
  left: 0;
  width: 100%;
}

.order-right__image {
  z-index: 5;
  margin: 30px 0px -5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.documents {
  padding: 60px 0px 30px 0px;
  background-color: #f2f2f2;
}

.documents__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.documents__title {
  padding: 0px 0px 40px 0px;
}

.documents__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 262px;
          flex: 0 1 262px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  margin: 0px 0px 30px 0px;
}

.documents__columns:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.4);
}

.documents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.documents-body-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.documents-body-flex__icon {
  text-align: center;
  padding: 30px 0px 15px 0px;
}

.documents-body-flex__icon a {
  display: block;
}

.documents-body-flex__description {
  max-width: 149px;
  margin: 0px auto;
  text-align: center;
  padding: 0px 0px 35px 0px;
  font-family: Gilroy-Bold;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  line-height: 23px;
  color: #333333;
  overflow: hidden;
}

.programm {
  padding: 45px 0px 40px 0px;
  background-color: #f2f2f2;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.programm._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.programm__title {
  padding: 0px 0px 30px 0px;
}

.programm__row {
  margin: 0px -10px;
  padding: 25px 0px 20px 0px;
}

.programm__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 10px;
}

.programm-body {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm-body__image {
  padding: 25px 25px 15px 25px;
}

.programm-body__title {
  max-width: 209px;
  padding: 0px 0px 10px 0px;
  font-family: Gilroy-Bold;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.programm-body__title a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.programm-body__status {
  font-family: Gilroy-Medium;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  line-height: 19px;
  padding: 0px 0px 10px 0px;
  color: #53b43b;
}

.programm-body__status:before {
  content: "";
  background: url("../img/section__programm/GG.svg") left no-repeat;
  padding: 0px 20px 0px 0px;
}

.programm-body__price {
  font-family: Gilroy-Bold;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1600));
  line-height: 27px;
  color: #333333;
  padding: 0px 0px 20px 0px;
}

.certificate {
  background-color: #f6f6f6;
  padding: 50px 0px 75px 0px;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.certificate._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.certificate__title {
  padding: 0px 0px 30px 0px;
}

.certificate__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.certificate__row {
  max-width: 1005px;
}

.information {
  padding: 50px 0px 70px 0px;
  background: #f2f2f2;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.information._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.information__title {
  padding: 0px 0px 25px 0px;
}

.information__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 45px 45px;
}

.information__btn {
  text-align: center;
}

.information__link {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #6d81cc;
  padding: 15px 55px;
  border: 2px solid #6d81cc;
  border-radius: 3px;
}

.information__link span:hover {
  text-decoration: underline;
}

._no-webp .information-stock {
  background: url("../img/section__information/bg5.png") 100% no-repeat; }

.information-stock {
  height: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information-stock__title {
  max-width: 302px;
  padding: 40px 0px 20px 0px;
  margin: 0px 0px 0px 50px;
  font-family: Gilroy-Bold;
  font-size: calc(22px + 2 * ((100vw - 320px) / 1600));
  line-height: 29px;
  color: #333333;
}

.information-stock__title span {
  line-height: 30px;
  color: #333333;
}

.information-stock__description {
  max-width: 240px;
  margin: 0px 0px 0px 50px;
  font-family: Gilroy-Medium;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  line-height: 24px;
  color: #333333;
}

.information-news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 0px -15px;
}

.information-news__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}

progress {
  position: fixed;
  z-index: 250;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
  color: #007397;
}

progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: #007397;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background: #007397;
  border-radius: 5px;
}

.progress-container {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background: #007397;
  width: 0%;
  display: block;
  height: inherit;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }

  .header-top__icons {
    display: none;
  }

  .information__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .information__columns {
    padding: 0px 0px 30px 0px;
  }

  .information__btn {
    padding: 50px 0px 0px 0px;
  }

  .information-stock__description {
    padding: 0px 0px 40px 0px;
  }

  .information-news__columns {
    padding: 0px 20px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header-top__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-top__columns {
    padding: 0px 0px 30px 0px;
  }

  .header-top__icons {
    display: block;
  }

  .header-bottom__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
    margin: 0px auto;
  }

  .order {
    background-color: #fafafb;
  }

  .documents__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .information__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .information__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .information-stock__title {
    margin: 0px 210px 0px 50px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .warranty__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header {
    padding: 16px 0px 0px 0px;
  }

  .header-top__row {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-top__icons {
    text-align: center;
    padding: 15px 0px 20px 0px;
  }

  .header-top-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-top-content__logo:after {
    content: "";
    position: fixed;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .header-top-content__logo img {
    position: fixed;
    z-index: 7;
    left: 50%;
    top: 35px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .header-top-content__vertLine {
    display: none;
  }

  .header-top-content__description {
    display: none;
  }

  .header-top-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-top-contact__columns {
    padding: 0px 0px 20px 0px;
  }

  .header-top-contact__mail {
    text-align: center;
    padding: 10px 0px 0px 0px;
  }

  .header-bottom__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #4e4e4e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
  }

  .header-bottom__nav._active {
    opacity: 1;
    visibility: visible;
  }

  .header-bottom__list {
    display: block;
  }

  .header-bottom__list li {
    padding: 0px 0px 30px 0px;
    font-family: "Gilroy-Black";
  }

  .header-bottom__list li a {
    font-size: 15px;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: fixed;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 99;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order {
    padding: 0px 0px 25px 0px;
  }

  .order__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .order__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .order-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
  }

  .order-left__title {
    padding: 20px 0px 0px 0px;
  }

  .order-left__btn:after {
    position: static;
  }

  .order-right__image {
    display: none;
  }

  .documents {
    padding: 40px 0px 0px 0px;
  }

  .documents-body-flex {
    min-height: 190px;
  }

  .information {
    padding: 20px 0px 45px 0px;
  }

  .information__title {
    padding: 0px 0px 20px 0px;
  }

  .information__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .information__columns {
    padding: 0px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .information-stock {
    display: none;
  }

  .information-news__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .information-news__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 15px 10px;
  }
}

._webp .information-stock { background: url(../img/section__information/bg5.webp) 100% no-repeat; }